faiss-cpu
groq
huggingface-hub
Jinja2
joblib
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
networkx
pdfplumber
pydantic
Pygments
PyPDF2
pypdfium2
requests
sentence-transformers
spacy
tokenizers
torch
transformers
langchain_huggingface