faiss-cpu~=1.9.0
groq~=0.12.0
huggingface-hub~=0.26.2
Jinja2~=3.1.4
joblib~=1.4.2
langchain~=0.3.7
langchain-community~=0.3.7
langchain-core~=0.3.19
langchain-text-splitters~=0.3.2
langsmith~=0.1.143
networkx~=3.4.2
pdfplumber~=0.11.4
pydantic~=2.9.2
Pygments~=2.18.0
PyPDF2~=3.0.1
pypdfium2~=4.30.0
requests~=2.32.3
sentence-transformers~=3.3.0
spacy~=3.8.2
tokenizers~=0.20.3
torch~=2.5.1
transformers~=4.46.2